/*강현규 2022-12-11거래내역 css작성 */
/*전체 시작 css*/
.dealReport{
    margin: 0 auto;
    width: 90%;
    height: 300px;
}
/*전체 끝 css*/
/*고객 거래내역 시작*/
.ContentText{
  display: flex;
}
.DefaultUserName{
    font-size: 20px;
    line-height: 23px;
    vertical-align: top;
    display: inline-block;
}
/* select option값 시작*/
.key{
    height: 25px;
    margin: 0 10px;
    vertical-align: top;
    width: 100px;
}
/* select option값 끝*/
/* input태그 시작*/
.dealReportContent{
    font-size: 17px;
    font-weight: 700;
    height: 30px;
}
.keyword{
    height: 25px;
    width: 220px;
}
/* input태그 끝*/
/*버튼 시작*/
.userNameButton{
    height: 26px;
}
/*버튼 끝*/
/* dealReportComtent끝*/
/*input태그 시작*/
/* input태그 끝*/
/*버튼 시작*/
.userButton{
    vertical-align: top;
    margin-left: 10px;
    width: 70px;
    height: 25px;
    padding: 1px;
    font-size: 15px;
}
/*버튼 끝*/
/*고객 거래내역 끝 css*/
.dealReportTable{
    border-collapse: collapse;
    border: 1px solid black;
    box-shadow: 0 1px 1px #000;
    width: 100%;
    margin-top: 5px;
}
.dealReportTrComponent{
    border : 1px solid black;
}
/*테이블 내용 끝 css*/
/* th내용 시작 css*/
th{
    border: 1px solid black;
}
.orderComponent{
    width: 25%;
    height: 50px;
}
.categoryComponent{
    width: 25%;
    height: 50px;
}
.contentComponent{
    width: 25%;
    height: 50px;
}
.moneyComponent{
    width: 25%;
    height: 50px;
}
/* th내용 끝 css*/
/* th list들 내용 시작 css*/
.orderComponentList{
    height: 25px;
    width: 10%;
}
.categoryComponentList{
    height: 25px;
    width: 15%;
}
.contentComponentList{
    height: 25px;
    width: 55%;
}
.moneyComponentList{
    height: 25px;
    width: 20%;
}
/* th list들 내용 끝 css*/

/*pagination시작*/
.pagination{
    justify-content: center;
    margin-top: 10px;
}
.pagination li a{
    width: 15px;
    margin: 0 3px;
    font-size: 20px;
    font-weight: bold;
}
/*pagination끝*/
