/*강현규 2022-12-11거래내역 css작성  */
/*전체 시작 css*/
.dealReport{
    width: 90%;
    margin: 0 auto;
}
/*전체 끝 css*/
/*고객 거래내역 시작*/
.ContentText{
  display: flex;
}
.DefaultUserName{
    display: inline-block;
    font-size: 22px;
    width: 90px;
    line-height: 40px;
}
/* select option값 시작*/
#keyid{
    height: 40px;
    margin: 0 6px;
    vertical-align: top;
    width: 120px;
}

/* select option값 끝*/
/* input태그 시작*/
.dealReportContent{
    font-size: 17px;
    font-weight: 700;
}
.keyword{
    height: 40px;
    margin-left: 5px;
    border-radius: 5px;
}
/* input태그 끝*/
/*버튼 시작*/
.userNameButton{
    height: 26px;
}
/*버튼 끝*/
/* dealReportComtent끝*/
/*input태그 시작*/
/* input태그 끝*/
/*버튼 시작*/
.userButton{
    font-size: 15px;
    height: 40px;
    margin-left: 6px;
    padding: 1px;
    vertical-align: top;
    width: 70px;
}
/*버튼 끝*/
/*고객 거래내역 끝 css*/
.dealReportTable{
    border-collapse: collapse;
    border: 1px solid black;
    box-shadow: 0 1px 1px #000;
    width: 100%;
    margin-top: 5px;
    text-align: center;
}
.dealReportTrComponent{
    border : 1px solid black;
}
.dealReportTrComponent:nth-child(1){
    background-color: #3579d4;
    font-size: 30px;
    color: white;
}
/*테이블 내용 끝 css*/
/* th내용 시작 css 강현규 2022-12-16 수정*/
.dealReportTrComponent th{
    border: 1px solid black;
}
.orderComponent{
    width: 25%;
    height: 50px;
}
.categoryComponent{
    width: 25%;
    height: 50px;
}
.contentComponent{
    width: 25%;
    height: 50px;
}
.moneyComponent{
    width: 25%;
    height: 50px;

}
/* th내용 끝 css*/
/* th list들 내용 시작 css*/
.orderComponentList{
    height: 25px;
    width: 10%;

}
.categoryComponentList{
    height: 25px;
    width: 15%;
}
.contentComponentList{
    height: 25px;
    width: 55%;
}
.moneyComponentList{
    height: 25px;
    width: 20%;
}
/* th list들 내용 끝 css*/

/*pagination시작*/
.pagination{
    justify-content: center;
    margin: 10px 0;
}
.pagination li a{
    width: 15px;
    margin: 0 3px;
    font-size: 20px;
    font-weight: bold;
}
/*pagination끝*/
