.loginTitle{
    color: #3598db;
}

.loginIdContext{
    color: #3598db;
}

.loginPwdContext{
    color: #3598db;
}
.loginComponent{
      margin: 10%;
      text-align: center;
}

.memail , .mpassword{
        width: 300px;
        height: 40px;
        margin : 1%;

}