/*강현규 2022-12-06 보안카드css작업*/

/* securitCard */
.securitCard{
    margin-top: 10px;
    border: 1px solid black;
    width: 400px;
    height: 600px;
    margin : 0 auto;
}

/* main */
.main{
    display: flex;
    justify-content: space-between
}
/* main */
.sub{
    display: flex;
    flex-wrap: wrap;
}