/*강현규 2022-12-07 좌번호 4자리 페이지로 보안카드페이지 이동할때 password css 내용 */
.passwordComponent{
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid black;
    height: 60px;
    margin : 0 auto;
    box-shadow: 0 1px 1px rgb(0 0 0 / 30);
    font-weight: 400;
}

.passwordContent{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 24px;
    height: 50px;
}

/* #passwordInput 시작*/
/*.passwordInput{
    margin-top: 10px;
    margin-left: 10px;
   text-align: center;
   width: 50px;
   height: 24px;
}*/
#passwordInput{
    margin-top: 10px;
    margin-left: 10px;
   text-align: center;
   width: 50px;
   height: 24px;
}

#formGroupPassword{
    height: 40px;
    width: 450px;
    margin: 10px auto;
}
/* #passwordInput 끝*/
.submitButton{
    height: 40px;
    margin-left: 5px;
    margin-top: 10px;
    width: 90px;
}
#submitButtonId{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 10px;
}