/* 2022-12-06 강현규 보안카드 프론트작성  */
/* 2022-12-16 강현규 보안카드 css 수정 */
/* securitCard 전체 시작 */
.securitCard{
    margin-top: 10px;
    border: 1px solid black;
    box-shadow: 0 1px 1px rgb(0 0 0 / 30);
    margin: 0 auto;
    width: 100%;
}
/* securitCard 전체 끝 */

/* mainCard 시작 */
.mainCard{
    display: flex;
    font-weight: bold;
}
/* mainCard 끝 */
/*mainSecutiryContent 시작 강현규 2022-12-16 수정*/
.mainSecutiryContent{
    color: #0080ff;
    font-size: 30px;
    margin-bottom: 5px;
    margin-left: 14px;
    margin-top: 5px;
}
/*mainSecutiryContent 끝*/
/*mainSecutiryNumber 시작 강현규 2022-12-16 수정*/
.mainSecutiryNumber{
    font-size: 30px;
    margin-bottom: 1px;
    margin-left: 150px;
    margin-top: 2px;
    vertical-align: top;
}
/* mainSecutiryNumber 끝 */
/* subtable  테이블 시작 강현규 2022-12-16 수정 */
.subtable{
    border: 1px solid #000;
    border-collapse: collapse;
    box-shadow: 0 1px 1px #000;
    font-size: 40px;
    font-weight: 700;
    height: 350px;
    margin: 3px auto;
    width: 70%;
}
/* subtable 테이블 끝 */
/* tr 시작*/
.securityCardTrComponent{
    border: 1px solid #0080FF;
    height: 38.2px;
}
th{
    width: 60px;
}
/* tr 끝*/
/*securityMainNumber 시작*/
.securityMainNumber{
    width: 80px;
    text-align: center;
}
/*securityMainNumber 시끝/
/*securitysubNumber 강현규 2022-12-16 시작*/
.securitysubNumber{
    background-color: #3579d4;
    border-bottom: 1px solid #62aef9;
    color: #fff;
    text-align: center;
    width: 30px;
}
/*securitysubNumber 끝*/
/*warningContent 시작 강현규 2022-12-16 수정 */
.warningContent{
    margin: 14px 14px;
}
/*warningContent 끝*/
/*warningMainContent 시작*/
.warningMainContent{
    color: red;
    font-size: 20px;
    display: inline-block;
    vertical-align: 15%;
}
/*warningMainContent 끝*/
/*warningSubContent 시작*/
.warningSubContent{
    color: red;
    font-size: 30px;
    font-weight: 700;
}
/*warningSubContent 끝*/


