
/**{
    width: 600px;
    margin: 0 auto;
} */

.top_title{
    border-bottom: 1px solid black;
    text-align: center;
    border-radius: 50%;
    width: 400px;
    padding: 13px;
}
.signgo{
    margin: 20px 0px;
}
.postmodal{
    background : rgba(0,0,0,0.25);
    position : fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
}

/*.postCodeStyle  {
    display: block;
    position: relative;
    top: 0%;
    width: 400px;
    height: 400px;
    padding: 7px;
}*/
