/* css 초기화 */
*{
	text-decoration: none;	/* 텍스트 밑줄 제거 */
	list-style: none;		/* 글머리 기호 제거 */
	text-decoration: none;
}
/*-------------------------------*/

.webbox{
  margin: 0 auto;  /*중앙정렬*/
  width: 70%;
  height: 1400px;
    background-color: #193f52;
  }



button{  border:1px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;}


/*-----------------------------중간 부분 ----------------------------------------*/

.mbox{
  border: 1px solid green;
  height: 65%;
  margin: 30px; }


.blist{
  margin: 0 auto;
  border: 1px solid blue;
  width: 90%;
  height: 70%
}


/*----------------------- 하단 부분--------------------------------------------*/
.bbox{ /*2022-12-26 김원종 수정중 */
    position: absolute;
    background-color:#193f52;
    bottom: -449px;
    height: 27%;
    width: 1400px;
    text-align: center;
    border: 6px double;
 }
.atitle{
    color: #98cfa3;
    text-decoration: none;
}