/* css 초기화 */
*{
	text-decoration: none;	/* 텍스트 밑줄 제거 */
	list-style: none;		/* 글머리 기호 제거 */
	text-decoration: none;
}
/*-------------------------------*/

.webbox{
  margin: 0 auto;  /*중앙정렬*/
  border: 1px solid red;
  width: 70%;
  height: 1200px;
  }



button{  border:1px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: white;
        background-color: #2b70cc;
        }


a{ color: white;}
/*-----------------------------중간 부분 ----------------------------------------*/
.mbox{     /*   중간 부분 전체 박스 구분*/
  height: 710px;
  margin: 10%;
  background-color: white;

  }

.ck.ck-editor_editbale{ height:  70%;}

/*  전체목록  화면   */
.bbord{ height: 70%}

.notice{
  margin-bottom: 3%;
}

.nbox{
 border-top: 1px solid blue;
 border-bottom: 1px solid gray;
}

.tbox{
   margin-bottom: 3%;
   border-top: solid 1px;
   margin-top: 3%; }


.bconbox{ height: 70%;
border-bottom: solid 1px gray;
 margin-bottom: 4%;}

/*----  작성페이지  버튼 꾸미기 ------------*/

.bltn{ float: left;  margin-left: 49%;}

.wbtn{ float: right; margin-right: 3% }

/*----  자세히보기 버튼 꾸미기 ------------*/
.bbtn{
   width: 50px;
   height: 30px;
   margin-left:80%;
   color: white;
   background-color: #2b70cc;}


.bbtn{ color: white;}

.rbox{ width: 50%; float: left;}
.adbox{  width: 50%; float: right;}

.ubt2 {margin-left: 2%; border-radius: 90px / 70px;}
.dbtn{ margin-left: 62%;}



/*---------수정 페이지  버튼----------------------*/

.ubtn{ margin-left: 48%;}



/*-------------------------------*/




/*----------------------- 하단 부분--------------------------------------------*/
.bbox{
    background-color: #f8f8f8;
    border: 1px solid blue;
    bottom: 0;
    height: 15%;
    margin-top: 20px;
 }