/* css 초기화 */
*{
	text-decoration: none;	/* 텍스트 밑줄 제거 */
	list-style: none;		/* 글머리 기호 제거 */
}
/*-------------------------------*/

.webbox{
  margin: 0 auto;  /*중앙정렬*/
  border: 1px solid red;
  width: 70%;
  height: 1200px;
  color: white;
  }


button{  border:1px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 10px 0 0 10px;
        color: white;
        background-color: #2b70cc;
        }



/*-----------------------------중간 부분 ----------------------------------------*/
.mbox{     /*   중간 부분 전체 박스 구분*/
  height: 830px;
  margin: 10%;
  background-color: #193f52;

  }

.ck.ck-editor_editbale{ height:  70%;}

/*  전체목록  화면   */

.btnd{ margin-left : 3%;}

.btn-default{ color: white;
      border-radius: 10px 0 0 10px;
     text-decoration: none;
   }

.bbord{ height: 70%}

.notice{
  margin-bottom: 3%;
}

th , td{ color: #3598DB;}


.nbox{
 border-top: 1px solid blue;
 border-bottom: 1px solid gray;
}

.tbox{
   margin-bottom: 3%;
   border-top: solid 1px;
   margin-top: 3%; }


.bconbox{  height: 58%;
border-bottom: solid 1px gray;
 margin-bottom: 4%;}

/*----  작성페이지  버튼 꾸미기 ------------*/

ltn { text-decoration: none;
               color: white;}

.bltn{ float: left;  margin-left: 49%;
  }

.wbtn{ float: right; margin-right: 3% }




/*----  자세히보기 버튼 꾸미기 ------------*/
.bbtn{
   width: 50px;
   height: 30px;
   margin-left:80%;
   color: white;
   background-color: #2b70cc;}

.libtn{ color: white; text-decoration: none;}
.bbtn{ color: white;}

.rbox{ width: 50%; float: left;
       margin-top: 3%;
       margin-left: 47%;

       }
.adbox{  width: 50%; float: right;}


.dbtn { margin-left: 59%;  margin-right: 5%}



/*---------수정 페이지  버튼----------------------*/

.ubtn{ margin-left: 48%;}



/*-------------------------------*/
{/*12/27 버튼 페이징 css 처리 */}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  ul.pagination li:first-child{
    border-radius: 5px 0 0 5px;
  }

  ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
  }

  ul.pagination li a {
    text-decoration: none;
    color: #337ab7;
    font-size: 1rem;
  }

  ul.pagination li.active a {
    color: white;
  }

  ul.pagination li.active {
    background-color: #337ab7;
  }

  ul.pagination li a:hover,
  ul.pagination li a.active {
    color: blue;
  }

.page-selection {
    width: 48px;
    height: 30px;
    color: #337ab7;
  }


/*----------------------- 하단 부분--------------------------------------------*/
.bbox{ /*2022-12-26 김원종 수정중 */
    position: absolute;
    background-color:#193f52;
    bottom: -449px;
    height: 27%;
    width: 70%;
    text-align: center;
    border: 6px double;
 }
.atitle{
    color: #98cfa3;
    text-decoration: none;
}