<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/index.css"  rel="stylesheet">
</head>
<body>
<div class ="webbox">

  <div class ="hbox">  상단 </div>

  <div class= "cbox">

    <div  class = "mbox">


  <h3>상세 게시물</h3>
        <table>
            <tr>
                <td>번호</td> <td id="bnumber">  </td> <td id="btitle">sdfsdfs </td>
            </tr>
            <tr>
                <td id="bcontent"> </td>
            </tr>
        </table>
        <span> <div>첨부파일</div> <div id="file">  </div></span>


        <a href ="/blist"><button> 목록</button></a>

        <button type="button" onclick="del()">  삭제</button>
        <a href="/"><button type="button" > 수정 </button></a>

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    </div>
  </div>

  <div class ="bbox">  footer  </div>

</div>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/detail.js"></script>


</body>
</html>