<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 십프로 은행</title>
    <link href="../css/board.css" rel="stylesheet">
</head>
 <body>

<div class ="webbox">

      <div class ="hbox"> <div> 로고 이미지 </div> <div> 개인  기업 자산관리 금융 상품 카드  전체메뉴</div> </div>

        <div class= "cbox">

            <div  class = "mbox">
            <h3> 글 목록 페이지</h3>

             <table class = "blist">


            </table>

                <div class="page"> </div>

                <button><a href="/write"> 글쓰기 </a></button>    <!--  관리자만 보이게 하기 -->


            </div>
     </div>

        <div class ="bbox">
            은행소개  |  영업점안내  |  고객광장  |  개인정보처리방침  |  신용정보활용체제  |  개인신용정보관리보호
            사고신고  |  전자민원접수  |  보호금융상품등록부  |  상품공시실  |  보안센터  |  웹접근성 이용안내
        </div>

    </div>

     <script src="http://code.jquery.com/jquery-latest.min.js"></script>
       <script src="../js/list.js"></script>

 </body>
</html>