<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 십프로 은행</title>
    <link href="../css/index.css" rel="stylesheet">
</head>
 <body>

<div class ="webbox">

      <div class ="hbox">  상단 </div>

        <div class= "cbox">

            <div  class = "mbox">
            <h3> 글 목록 페이지</h3>

             <table class = "blist">
                <tr> <th>번호</th><th>제목 </th> <th>날짜</th> <th> 조회수 </th> </tr>


            </table>

            <div class="page"> </div>

                           <button><a href="/write"> 글쓰기 </a></button>    <!--  관리자만 보이게 하기 -->


            </div>
     </div>

        <div class ="bbox">  footer  </div>

</div>

     <script src="http://code.jquery.com/jquery-latest.min.js"></script>
       <script src="/js/list.js"></script>

 </body>
</html>