<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 십프로 은행</title>
    <link href="../css/index.css" rel="stylesheet">
</head>
<body>

<div class ="webbox">

    <div class ="hbox">  상단 </div>

    <div class= "cbox">
        <h3> 글 목록 페이지</h3>
        <table>
            <tr> <th>번호</th><th>제목 </th> <th>날짜</th>  </th> 조회수 </th></tr>


        </table>

        <div class="page"> </div>
                       <buntton type="button" href="/board/write">글쓰기</buntton>


        <div className ="bbox">  footer  </div>

    </div>




</body>
</html>